<?xml version="1.0"?>
<launch>

    <arg name="port_name" value="can0" />
    <arg name="simulated_robot" value="false" />
    <!--<arg name="model_xacro" default="$(find bunker_description)/urdf/bunker_v2.xacro" />-->
    <arg name="odom_topic_name" default="odom" />
    <arg name="is_bunker_mini" default="false" />
    <arg name="pub_tf" default="true" />

    <include file="$(find bunker_base)/launch/bunker_base.launch">
        <arg name="port_name" default="$(arg port_name)" />
        <arg name="simulated_robot" default="$(arg simulated_robot)" />
        <arg name="odom_topic_name" default="$(arg odom_topic_name)" />
        <arg name="pub_tf" default="$(arg pub_tf)" />
    </include>

<!--    <include file="$(find bunker_description)/launch/description.launch">
        <arg name="model_xacro" default="$(arg model_xacro)" />
    </include>-->

</launch>
